<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOoJBVw4eoO9U9b0cTVJikYjb9uepsrEk</string>
	<key>GCM_SENDER_ID</key>
	<string>18524079250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.JihyunYTiktocCameraTest</string>
	<key>PROJECT_ID</key>
	<string>practice522-8bd02</string>
	<key>STORAGE_BUCKET</key>
	<string>practice522-8bd02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18524079250:ios:deb0bce60ad002c85c124b</string>
</dict>
</plist>